<h1 class="ui header">Hello,</h1>

<div class="content">
  <p>Thanks for checking it out this demo project.</p>
  <p>This basic e-commerce was built following the <a class="item" href="hrefttps://pragprog.com/book/rails51/agile-web-development-with-rails-5-1">Agile Web Development with Rails 5.1</a> book tutorial.</p>
</div>

<div class="ui list">
  <div class="item">Ruby on Rails 5.2</div>
  <div class="item">Javascript</div>
  <div class="item">React</div>
  <div class="item">AWS S3</div>
  <div class="item">Postgres</div>
  <div class="item">Semantic UI</div>
</div>

<div class="content">
  <p>The features included are: consumers can browse the products, add items to a cart and "purchase an order" (no payment included). </p>
  <p>The store owner, who must be authenticated first, can create products, track orders and invite new admin users.</p>
  <p>Check it out the <a class="item" href="https://github.com/stefannibrasil/demo" target="_blank">source code</a> or contact me at stefannibrasil at gmail dot com.</p>
</div>